@import 'https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700';
@import './rendering.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  color: white;
  background: black;
  font-family: 'Space Mono';
  height: 100%;
}
.inner {
  width: fit-content
}
.pinch-zoom {
  container-type: size;
  width: 100dvw;
  height: 80dvh;
}
