:root {
  --hexagon-height-k: 1.732;
  --hexagon-width: 2rem;
  --hexagon-height: calc(var(--hexagon-width) * var(--hexagon-height-k));
}

html, body {
  color: white;
  background: black;
}

.cell {
  position: relative;
  width: var(--hexagon-width);
  height: var(--hexagon-height);
  margin-inline: calc(var(--hexagon-width) / 4);
  background: darkblue;
  text-align: center;
  border-radius: 2px;
}

.cell::before, .cell::after {
  content: '';
  height: .70px;
  position: absolute;
  left: 0;
  right: 0;
  background: black;
}

.cell::before {
  top: 0;
}

.cell::after {
  bottom: 0;
}

.cell-container {
  --filter: drop-shadow(1px 1px 0 black)
  drop-shadow(1px -1px 0 black)
  drop-shadow(-1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  position: relative;
  transform: translateY(var(--translation));
  z-index: 1
}

.cell-container::before, .cell-container::after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--hexagon-width) / -4 + .75px);
  border-block: calc(var(--hexagon-height) / 2) solid transparent;
  border-right: calc(var(--hexagon-width) / 2) solid darkblue;
}

.cell-container::after {
  transform: rotateY(.5turn) translate(calc(-100% - var(--hexagon-width) + 1.5px), -50%);
}
