:root {
  --hexagons-aspect-ratio: 1 / 0.866025;
  --hexagons-width: 8dvmin;
  --hexagons-gap: calc(var(--hexagons-width) / 30);
  --hexagons-font-size: calc(var(--hexagons-width) / 4);
  --hexagons-items-shadow: 0 0 calc(var(--hexagons-width) / 16) #000E;
}

@media (min-width: 92dvmax) {
  :root {
    --hexagons-width: 7.25dvmin
  }
}

.sea {
  display: flex;
  user-select: none;
  margin-left: calc(var(--hexagons-width) / 4)
}

.sea-col {
  margin-left: calc(var(--hexagons-width) / -4);
}

.cell {
  position: relative;
  line-height: 1em;
  aspect-ratio: var(--hexagons-aspect-ratio);
  font-size: var(--hexagons-font-size);
  width: var(--hexagons-width);
  --background: darkblue;
  background: var(--background);
  text-align: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.opponent .cell {
  --background: darkgreen;
}

.island .cell {
  background: #BA0
}

.cell:not(.missed):not(.hit)::before,
.cell.missed::before,
.cell.hit::before {
  content: '';
  display: block;
  aspect-ratio: 1 / 1;
  width: calc(var(--hexagons-width) / 3);
  position: absolute;
  bottom: 50%;
  right: 50%;
  background: white;
  transform: translate(50%, 50%);
  border-radius: 100%;
  box-shadow: var(--hexagons-items-shadow);
}

.cell:not(.missed):not(.hit)::before {
  background: transparent;
  box-shadow: none;
  border: calc(var(--hexagons-width) / 24) solid #0002;
}

.cell.hit::before {
  background: linear-gradient(45deg, red 50%, #B00);
}

.top + .bottom {
  margin-top: calc(var(--hexagons-gap) * 2);
}

.cell-container {
  padding: var(--hexagons-gap);
  transform: translateY(var(--translation));
}
