:root {
  /* https://wikipedia.org/wiki/hexagon */
  --hexagons-constant: 0.866025;
  --hexagons-aspect-ratio: 1 / var(--hexagons-constant);
  --hexagons-width: 8cqmin;
  --hexagon-height: var(--hexagons-constant) * var(--hexagons-width);
  --hexagons-gap: calc(var(--hexagons-width) / 30);
  --hexagons-font-size: calc(var(--hexagons-width) / 4);
  --hexagons-items-shadow: 0 0 calc(var(--hexagons-width) / 16) #000E;
}

.sea {
  display: flex;
  user-select: none;
  padding-left: calc(var(--hexagons-width) / 4);
}

.sea-col {
  margin-left: calc(var(--hexagons-width) / -4);
  padding-top: calc(var(--translation) * (var(--hexagon-height) + var(--hexagons-gap) * 2));
}

.cell-hexagon {
  position: relative;
  line-height: 1em;
  aspect-ratio: var(--hexagons-aspect-ratio);
  width: var(--hexagons-width);
  background: darkblue;
  text-align: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.opponent .cell-hexagon {
  background: darkgreen;
}

.island .cell-hexagon {
  background: #BA0
}

.cell-component {
  position: relative;
}

.cell-component::after {
  content: '';
  display: block;
  aspect-ratio: 1 / 1;
  width: calc(var(--hexagons-width) / 3);
  position: absolute;
  bottom: 50%;
  right: 50%;
  background: white;
  transform: translate(50%, 50%);
  border-radius: 100%;
  z-index: 100;
  pointer-events: none;
  box-shadow: var(--hexagons-items-shadow);
}

.cell-component:has(.cell:not(.missed):not(.hit))::after {
  background: transparent;
  box-shadow: none;
  border: calc(var(--hexagons-width) / 24) solid #0002;
}

.cell-component:has(.cell.hit)::after {
  background: linear-gradient(45deg, red 50%, #B00);
}

.top + .bottom {
  margin-top: calc(var(--hexagons-gap) * 2);
}

.cell-container {
  font-size: var(--hexagons-font-size);
  padding: var(--hexagons-gap);
  position: relative;
}


.sea {
  padding-bottom: calc(var(--hexagons-width) / 2);
}

.injected-ship {
  pointer-events: none;
  top: 50%;
  left: 50%;
  z-index: 10;
  position: absolute;
  transform-origin: left center;
  transform: translateY(-50%) rotate(var(--angle));
  filter: drop-shadow(var(--hexagons-items-shadow))
}

.ship {
  --default-bg: #555;
  margin-left: -1.2em;
}
